<div id="banner" class="podcasts_banner">
    <h1>Discover you new Favorite podcast</h1>
  </div>

  <div id="podcasts" class="cf">
    <div class="wrapper">
      <ul>
        <% @podcasts.each do |podcast| %>
          <%= link_to podcast do %>
            <li>
              <img src="images/1.jpg" alt="Narswals">
              <div class="podcast_overview">
              <h2>Narwals Podcast</h2>
              <p class="episode_count">1 Episode</p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="pagination">
      <span class="previous_page disabled">Previous</span>
      <em class="current">1</em>
      <a href="">2</a>
      <a href="#" class="next_page">Next</a>
  </div>